<fieldset data-ng-show="edit" class="container form-group form-inline">
  <legend>Ajouter un contact</legend>
  <form name="frmContact">
    <input class="form-control" type="text" placeholder="Entrez un nom..." required>
    <input class="form-control" type="text" placeholder="Prénom...">
    <input class="form-control" type="email" placeholder="Adresse email..." required>
    <Input type="submit" value="Valider" class="btn btn-primary"/>
    <input type="button" value="Annuler" class="btn btn-primary">
  </form>
</fieldset>
{{outlet}}