<div class="ui container">
  <div class="ui secondary  menu">
    <a class="item">
      Accueil
    </a>
    <LinkTo class="item" @route="projects">
      Projets
    </LinkTo>
    <LinkTo class="item" @route="developers">
      Développeurs
    </LinkTo>
    <LinkTo class="item" @route="steps">
      Étapes
    </LinkTo>
  </div>
  {{outlet}}
</div>