<div class="ui container">
  <h1 class="ui header">
    <i class="table icon"></i>
    <span class="content">
      models/Developer
      <span class="sub header">Administration de données</span>
    </span>
  </h1>
  <div class="ui segment">
    <a class="ui orange button">
      <i class="icon plus"></i>
      Ajouter un nouveau models/Developer…
    </a>
    <table class="ui selectable single line table">
      <thead>
      <tr>
        <th>Identité</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td class="right aligned">
          <a class="circular ui basic icon button">
            <i class="icon edit"></i>
          </a>
          <a class="circular ui inverted red icon button">
            <i class="icon times"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{{outlet}}